* {margin: 20px; font-family: arial; }
body {background-color: #333;}
.container {margin: auto; width: 80%; background-color: #555; color: #eee;}
/* .word-line {height: 2em; } */ 
/* .word-line {display: grid;} */ 
.word-line {display: flex; flex-direction: row; flex-wrap: wrap;} 
.btn-small {width: 10%; height: 2em;}
.med-text {width: 7em; font-size: 2em;}
/* .wide {width: 80%; background-color: #ddd;} */

.countdown {
  position: fixed;
  left: 1%;
  top: 0%;
  z-index: 100;
  font-size: 25px;
  color: red;
}

.fixed {
  position: fixed;
  right: 20%;
  top: 30%;
  z-index: 200;
  font-size: 25px;
  color: #fff;
}
.more_games {
  list-style-type: none;

}

.more_games li { 
    display: inline; 
}

.new_game {
    font-family: arial, sans-serif;
    font-size: 30px;
    width: 10%;
    height: auto;
    float: right;
    border: 3px red solid;
    background-color: #ddd;
    text-decoration: none;
    text-align: center;

}


.word-line span {
    color: #fff;
  font-size: 30px;
}


.the_game { 
  color: white;
  font-size: 20px;
  border: 3px solid black;
  background-color: #013ADF;
  margin: 10px;
  padding: 10px;
}

.small {
  font-size: 1rem;
}


h4 span {
    text-style: bold;
    font-size: 20px;
    color: yellow;
}


.incorrect {
    border: 4px solid black;
    color: #fff;
    position: fixed;
    width: 30rem;
    font-size: 15px;
    right: 10%;
    bottom: 1%;
    z-index: 200;
    font-size: 25px;

}

.incorrect span {
color: blue;
}



