* {margin: 20px; font-family: arial; }
.container {margin: auto; width: 90%; background-color: #ccc;}
/* .word-line {height: 2em; } */ 
/* .word-line {display: grid;} */ 
.word-line {display: flex; flex-direction: row; flex-wrap: wrap;} 
.btn-small {width: 10%; height: 2em;}
.med-text {width: 7em; font-size: 2em;}
/* .wide {width: 80%; background-color: #ddd;} */

.countdown {
  position: fixed;
  left: 1%;
  top: 1%;
  z-index: 100;
  font-size: 3em;
  color: red;
}

.more_games {
  list-style-type: none;

}

.more_games li { 
    display: inline; 
}

.new_game {
float: right;

}
