<!DOCTYPE html>
<html>

<head>
	<title>Clueless</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" /> <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="{{ url_for('static', filename='countdown.js') }}"></script>
</head>

<body>
	<div class="container">
        <div class="replay">
          <a class="new_game" href="{{ url_for('index') }}">Play Again</a>
              <table class="fixed the_game">
                  <tr><td><p class="countdown" ><span id="time">4:00</span></p></td></tr>
                  <tr><td>Constraint: {{ rule }}</td></tr>
                  <tr><td>{{ time }}</td></tr>
                  <tr><td>Note the countdown timer at top left</td></tr>
                  <tr><td>Use TAB to move to next empty field</td></tr>
                  <tr><td>Use ENTER to check word is acceptable</td></tr>
                  <tr><td>Check below to see if word is not in the database</td></tr>
                  <tr><td> 𐄂 indicates does NOT follow constraint</td></tr>
                  <tr><td> ✅ indicates DOES follow constraint</td></tr>
              </table>
        </div>  <!-- replay -->

    <div class="word-form"> 
		<form action="{{ url_for('game')}}" method="POST">
            <div class="word-line"><span>a</span> <input type="text" name="aword" value="{{ word_a }}" autofocus="autofocus" class="a med-text" /><span>{{ mydict['a'] }}</div>
            <div class="word-line"><span>b</span> <input type="text" name="bword" value="{{ word_b }}" class="b med-text" /><span>{{ mydict['b'] }}</span></div>
            <div class="word-line"><span>c</span> <input type="text" name="cword" value="{{ word_c }}" class="c med-text" /><span>{{ mydict['c'] }}</span></div>
            <div class="word-line"><span>d</span> <input type="text" name="dword" value="{{ word_d }}" class="d med-text" /><span>{{ mydict['d'] }}</span></div>
            <div class="word-line"><span>e</span> <input type="text" name="eword" value="{{ word_e }}" class="e med-text" /><span>{{ mydict['e'] }}</span></div>
            <div class="word-line"><span>f</span> <input type="text" name="fword" value="{{ word_f }}" class="f med-text" /><span>{{ mydict['f'] }}</span></div>
            <div class="word-line"><span>g</span> <input type="text" name="gword" value="{{ word_g }}" class="f med-text" /><span>{{ mydict['g'] }}</span></div>
            <div class="word-line"><span>h</span> <input type="text" name="hword" value="{{ word_h }}" class="g med-text" /><span>{{ mydict['h'] }}</span></div>
            <div class="word-line"><span>i</span> <input type="text" name="iword" value="{{ word_i }}" class="h med-text" /><span>{{ mydict['i'] }}</span></div>
            <div class="word-line"><span>k</span> <input type="text" name="kword" value="{{ word_k }}" class="j med-text" /><span>{{ mydict['k'] }}</span></div>
            <div class="word-line"><span>l</span> <input type="text" name="lword" value="{{ word_l }}" class="k med-text" /><span>{{ mydict['l'] }}</span></div>
            <div class="word-line"><span>m</span> <input type="text" name="mword" value="{{ word_m }}" class="l med-text" /><span>{{ mydict['m'] }}</span></div>
            <div class="word-line"><span>n</span> <input type="text" name="nword" value="{{ word_n }}" class="m med-text" /><span>{{ mydict['n'] }}</span></div>
            <div class="word-line"><span>o</span> <input type="text" name="oword" value="{{ word_o }}" class="n med-text" /><span>{{ mydict['o'] }}</span></div>
            <div class="word-line"><span>p</span> <input type="text" name="pword" value="{{ word_p }}" class="o med-text" /><span>{{ mydict['p'] }}</span></div>
            <div class="word-line"><span>r</span> <input type="text" name="rword" value="{{ word_r }}" class="q med-text" /><span>{{ mydict['r'] }}</span></div>
            <div class="word-line"><span>s</span> <input type="text" name="sword" value="{{ word_s }}" class="r med-text" /><span>{{ mydict['s'] }}</span></div><span>No plurals!</span>
            <div class="word-line"><span>t</span> <input type="text" name="tword" value="{{ word_t }}" class="s med-text" /><span>{{ mydict['t'] }}</span></div>
            <div class="word-line"><span>w</span> <input type="text" name="wword" value="{{ word_w }}" class="v med-text" /><span>{{ mydict['w'] }}</span></div>
            <div class="word-line"><span>y</span> <input type="text" name="yword" value="{{ word_y }}" class="x med-text" /><span>{{ mydict['y'] }}</span></div>
    </div> <!-- end word-form -->
    <button class="btn btn-primary btn-lg" name="submit" value="Submit">Submit</button>
        </form>
    <br/>
    <table class="incorrect">
    {% for word in word_holder %}
        {% if word in incorrect and word != '' %}
        <tr><td> {{ word }} is not in Database </td></tr>
        {% else %}
        {% endif %}
     {% endfor %}
    </table>

	</div> <!--end container -->
</body>
</html>
