<!DOCTYPE html>
<html>

<head>
	<title>Clueless</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
	<div class="container">
    <div class="banner">Welcome to CLUELESS</div>
    <div class="todays">
        <p> Today's level: <span> Easy</span> </p>
        <p> Today's constraints: Contains letter p anywhere </p>
        <p> Time allowed: 4 minutes</p>
        <h4> Once you press GO! you will be directed to the puzzle page. The timer will countdown immediately so don't hang around</h4>
    </div>  <!-- end todays-->
    
    <button type="submit" class="btn-large" name="go" value="GO!" >GO!</button>
    <br/>
    <hr/>
    <div class="footer">
        <p>1. Only English words from a typical dictionary say 60,000-word dictionary </p>
        <p>2. No plurals ending in s, no proper names, hyphens or apostrophes </p>
    </div>  <!-- end footer -->

	</div> <!-- container -->
</body>
</html>
