<!DOCTYPE html>
<html>

<head>
	<title>Clueless App</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
	<div class="container">
    <div class="banner">CLUELESS</div>
    <div class="todays">
        <p> Constraints: Easy</p>
        <p> Contains letter p anywhere </p>
        <p> 90s : Very Good 120s : Not Bad  150s : Not Great &gt;180s : Huh?   </p>
    </div>  <!-- end todays-->
    <div class="word-form"> 
		<form action="{{ url_for('index') }}" method="POST">
            <div class="word-line"><span>a</span> <input type="text" id="aaword" name="aword" value="{{ word_a }}" class="a med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" name="submit_button" value="Chk" class="btn-small small-text" /></div> <p class="large-text"><strong>{{ word_a }}</strong></p>
            <div class="word-line"><span>b</span> <input type="text" id="bbword"  name="bword" value="{{ word_b }}" class="b med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>c</span> <input type="text" value="{{ word_c }}" class="c med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>d</span> <input type="text" value="{{ word_d }}" class="d med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>e</span> <input type="text" value="{{ word_e }}" class="e med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>f</span> <input type="text" value="{{ word_f }}" class="f med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>g</span> <input type="text" value="{{ word_g }}" class="f med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>h</span> <input type="text" value="{{ word_h }}" class="g med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>i</span> <input type="text" value="{{ word_i }}" class="h med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>j</span> <input type="text" value="{{ word_j }}" class="i med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>k</span> <input type="text" value="{{ word_k }}" class="j med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>l</span> <input type="text" value="{{ word_l }}" class="k med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>m</span> <input type="text" value="{{ word_m }}" class="l med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>n</span> <input type="text" value="{{ word_n }}" class="m med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>o</span> <input type="text" value="{{ word_o }}" class="n med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>p</span> <input type="text" value="{{ word_p }}" class="o med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>q</span> <input type="text" value="{{ word_q }}" class="p med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>r</span> <input type="text" value="{{ word_r }}" class="q med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>s</span> <input type="text" value="{{ word_s }}" class="r med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>t</span> <input type="text" value="{{ word_t }}" class="s med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>u</span> <input type="text" value="{{ word_u }}" class="t med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>v</span> <input type="text" value="{{ word_v }}" class="u med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>w</span> <input type="text" value="{{ word_w }}" class="v med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>x</span> <input type="text" value="{{ word_x }}" class="w med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>y</span> <input type="text" value="{{ word_y }}" class="x med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span>z</span> <input type="text" value="{{ word_z }}" class="y med-text" /> <input type="submit" value="Ent" class="btn-small small-text" /><input type="submit" value="Chk" class="btn-small small-text" /></div>
            <div class="word-line"><span></span> <div type="none" name="word" class="all med-text"> </div> <input type="submit" value="Enter All" class="btn-small small-text" /><input type="submit" value="Check All" class="btn-small small-text" /></div>
    </div> <!-- end word-form -->
        </form>
    <br/>
    <div class="footer">
        <p>1. Only English words from a typical student dictionary say 60,000 word </p>
        <p>2. No proper names, hyphens or apostrophes </p>
        <p>3. Note the time takes</p>

			<p class="large-text"><strong>{{ word_a }}</strong></p>
			<p class="large-text"><strong>{{ word_b }}</strong></p>
			<p class="large-text"><strong>{{ word_c }}</strong></p>


    </div>  <!-- end footer -->
	</div> <!-- container -->
</body>
</html>
